<tl-sidebar-container #sidebar>
    <tl-sidebar [position]="'start'" [mode]="'over'" [dock]="true">
      <!-- Sidebar Start Content -->
    </tl-sidebar>
    <tl-sidebar-content [height]="'100vh'">
      <tl-menu
        [link]="'link'"
        [width]="'250px'"
        [label]="'label'"
        [group]="'category'"
        [subItem]="'subItem'"
        [icon]="'icon'">teste
      </tl-menu>

    </tl-sidebar-content>
    <tl-sidebar [position]="'end'" [mode]="'over'">
      <!-- Sidebar End Content -->
    </tl-sidebar>
  </tl-sidebar-container>